.rotating-menu-item{
    translate: -50%  -50%;
    position: absolute;
    width: 40%;
    height: 40%;
    opacity: 0;
    transition: transform 1s, scale 0.2s;
    transform-origin: 50% 50%;
}
.rotating-menu-item img{
    border-radius: 50%;
    max-width: 20cqi;
    height: 20cqi;
    object-fit: cover;
}
.rotating-menu-item div{
    max-width: 0;
    overflow: hidden;
    transition: max-width 1s;
    transition-delay: 450ms;
    position: absolute;
    left: 80%;
    top: 4%;
    font-size: 5rem;
}


@media screen and (max-width: 600px) {
    .rotating-menu-item p{
        display: none;
    }
    .rotating-menu-item{
        width: 40%;
        height: 40%;
        container-type: contain;
    }

    .rotating-menu-item img{
        max-width: 100%;
        height: 100%;
    }
}