.menu-card{
    min-width: 20cqi;
    height: 100cqb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
    z-index: 5;
}

.menu-card img{
    margin: 0 2em;
    height: 9cqb;
}

.menu-card p{
    margin: 0;
}