.item-card-container{
    width: 20cqi;
    height: 30cqi;

    border-radius: 3em;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    position: fixed;
    right: 5vw;
    top: 70vh;
    translate: 0 -100%;
    background-color: #fff;
}
.card-nav{
    display: flex;
    flex-direction: row;
    gap: 1.5cqi;
    font-size: 1.3cqi;
    align-self: center;
}
.rating{
    display: flex;
    flex-direction: column;
    height: 7cqi;
    width: 5cqi;
    background-color: orangered;
    position: relative;
    border-radius: 2em;
}
.rating>p{
    margin: 0;
    font-size: 3.5cqi;
    position: relative;
    left: 1.5rem;
    font-weight: bold;
}
.rating>img{
    position: absolute;
    bottom: 0.2em;
    left: 50%;
    transform: translateX(-50%);
    width: 2cqi;
    height: 2cqi;
    background-color: blue;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.description p{
    margin: 0;
    padding: 0;
}
.description>.dish-name{
    font-size: 1.6cqi;
}
.description>.dish-sub{
    font-size: 1cqi;
    margin-bottom: 0.3cqi;
}
.description>.dish-description{
    font-size: 1cqi;
}
.like-dislike{
    display: flex;
    flex-direction: row;
    
    margin-top: 1cqi;
    gap: 1cqi;
}
.like-dislike>.like{
    border-radius: 0.7cqi;
    padding: 0.2cqi 0.6cqi;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.like-dislike>.like>img{
    width: 1cqi;
    height: 1cqi;
    background-color: violet;
    margin-right: 0.4cqi;    
    margin-left: 0.2cqi;
}
.like-dislike>.like>p{
    margin: 0;
    font-size: 1cqi;
}