.rotating-menu-ring{
    background-image: radial-gradient(transparent,  transparent 40%, rgba(16, 16, 160, 0.671) 41%, rgba(40, 40, 235, 0.897) 60%, transparent 61%);
    position: fixed;
    top: -60cqi;
    left: -40vw;
    width: 100vw;
    height: 100vw;
    border-radius: 50%;
    transition: transform 1s;
}