.rotating-menu-ring{
    background-image: radial-gradient(transparent,  transparent 40%, blue 41%, blue 60%, transparent 61%);
    position: fixed;
    top: -70vw;
    left: -20vw;
    width: 120vw;
    height: 120vw;
    border-radius: 50%;
    transition: transform 1s;
}